.portfolio-section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.potrfolio-title {
  width: 220px;
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-top: 62px;
}

.portfolio-photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 60px;
}

.photo {
  height: 560px;
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    padding-top: 116px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .potrfolio-title {
    width: 185px;
  }

  .portfolio-buttons {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .portfolio-photos {
    padding-top: 60px;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }
}
